<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

              <!-- Sidebar Menu -->
              <ul class="sidebar-menu" data-widget="tree">
                <li class="header"></li>
                <!-- Optionally, you can add icons to the links -->
                <li ><a href="dashboard"><i class="fa fa-link"></i> <span>DASHBOARD</span></a></li>
                {% if level == 0 %}
                  <li ><a href="userlist"><i class="fa fa-link"></i> <span>DAFTAR PROFIL</span></a></li>
                {% endif %}
                <li ><a href="profil"><i class="fa fa-link"></i> <span>PROFIL</span></a></li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-link"></i> <span>PROJECT</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="buatbaru">BUAT BARU</a></li>
                    <li><a href="projectlist">DAFTAR PROJECT</a></li>
                  </ul>
                </li>
              </ul>
              <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
          </aside>