<!DOCTYPE html>

<html>
<head>
    {% include "header.html" %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {% include "header2.html" %}
  {% include "leftnavbar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          &nbsp;
        </h1>
        <ol class="breadcrumb">
          <li><a href="dashboard"><i class="fa fa-dashboard"></i>DASHBOARD</a></li>
          <li class="active">DAFTAR PROJECT</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content container-fluid">

        <!--------------------------
          | Your Page Content Here |
          -------------------------->
          <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">DAFTAR PROJECT</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <div class="row">
                    {% for row in project %}
                      
                        <div class="col-md-12" style="margin-bottom: 10px;">
                          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{row['id']}}" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 100%;">
                            {{row['project']}}
                          </a>
                          <div class="collapse" id="collapseExample{{row['id']}}">
                            <p>
                              Deskripsi : {{row['description']}}</br>
                              Sistem Operasi : {{row['osdesc']}}</br>
                              Konfigurasi CPU : {{row['cpudesc']}}</br>
                              {% if level == 0 %}
                              Pengguna : {{row['user']}}</br>
                              {% endif %}
                              IP Address : {{row['addr']}}</br>
                              <a>SSH Key</a>
                            </p>
                            <div class="card card-body">
                              <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="Apache{{row['id']}}" onclick="checkboxXampp('{{row['id']}}')">
                            <label class="custom-control-label" for="Apache">Xampp</label>
                          </div>
                        </div>
                        <button onclick="del('{{row['id']}}')" type="button" class="btn btn-danger" style="width: 100;float: right;margin-bottom: 10px;">HAPUS</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{row['id']}}" id="install{{row['id']}}" style="display: none;">
                          install 
                        </button>
                          </div>
                        </div>

                        <div class="modal fade" id="exampleModal{{row['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Simpan Konfigurasi</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Apakah aplikasi yang akan diinstall sudah sesuai dengan yang anda inginkan?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                <button type="submit" class="btn btn-primary">Lanjutkan & install</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                      </div>
                <!-- /.box-body -->
                 &nbsp;
                <!-- /.box-footer -->
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Konfirmasi</h4>
          </div>
          <div class="modal-body">
            <p>Apakah anda ingin melakukan perubahan pada profil&hellip; ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Tidak</button>
            <button onclick="confirm()" type="button" class="btn btn-primary">Simpan</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

  {% include "footer.html" %}
  {% include "sidebar.html" %}
  <div class="control-sidebar-bg"></div>
</div>

{% include "javascript.html" %}
<script type="text/javascript">

  var myid = "";

  function del(mid) {

    myid = mid;

    $("#modal-default").modal('toggle');

  }

  function checkboxXampp(idproject) {
    var checkBox = document.getElementById("Apache"+idproject);
    if (checkBox.checked == true){
      document.getElementById("install"+idproject).style.display = "inline-block";
    } else {
      document.getElementById("install"+idproject).style.display = "none";
    }
  }

  function confirm() {

      $.ajax({url: "projectlist-del",
        type:"post",
        contentType: 'application/json;charset=UTF-8',
        data:JSON.stringify({'data': {'id': myid}}),
        success: function(result){
          window.location.href = "projectlist";
        }
      });

  }

</script>

</body>
</html>
